<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Email with Table</title>
    <style>
      th { background-color: darkgreen; color: white; }
    </style>
  </head>
  <body>
    <p>Hi Wilson,</p>
    <p>Responding to the required information</p>

    <table cellpadding='5'>
      <tr>
        <th>start</th>
        <th>end</th>
        <th>Ammount</th>
        <th>Comment</th>
      </tr>
      {{#each message}}
        <tr>
          <td>{{splitdate this.start}}</td>
          <td>{{splitdate this.end}}</td>
          <td>{{this.ammount}}</td>
          <td>{{this.comment}}</td>
        </tr>
      {{/each}}
    </table>
    <p>=====================================
      <br />
      Dear
      {{vendorName}},<br />

      A friendly reminder to please provide the following for Checkr Inc. and
      Inflection.com for
      {{selectedDate}}:
      <br />
      • Estimates for any work in-progress, including services completed but not
      yet invoiced.
      <br />
      • An estimate for any services expected to be performed between the date
      of your response and the last day of the month. Thank you and have a great
      day!
      <br />
      <br />

      Wilson Machado
      <br />
      Checkr Group Accounting Team<br />

    </p>
  </body>
</html>